{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Un hermoso paisaje</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis officiis non ea earum voluptatibus quas in sunt deleniti tenetur, asperiores dolores dolorum porro laboriosam! Deserunt ullam voluptas sit magnam harum.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/foto.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}
